
.table thead tr {
    background-color: var(--couleur-secondaire);
    color: white;
    text-align: left;
}

.table th, td{
    padding: 15px 20px;
}

.table th{
    border: 1px solid var(--gris-600);
}

.table tr:nth-child(even){
    background-color: var(--gris-100);
}



.table table {
    width: 100%;

    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid var(--couleur-secondaire);
}
